    <form class="log-page__content">
        <div class="log-page__title">Регистрация</div>
        <div class="input-box">
            <label for="reg-page-user-email"></label>
            <input id="reg-page-user-email" name="reg-page-user-email" type="email" placeholder="Введите ваш эмайл"
                   required>`
        </div>
        <button class="log-page__button" type="submit">Регистрация</button>
    </form>